/*Page home*/

.thumbnail img{
    border-radius: 5px !important;

}
.thumbnail{
    background-color: #ffdbc5;
    border-radius: 5px;
    padding : 5px; 

   margin-bottom: 25px;
}
.promo{
    background: #fe7f4a !important;
    box-shadow: 0 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 1px rgba(0,0,0,0.2);
    color : #fff;
    text-shadow: 2px 2px #333;
    position: absolute;
    right: 6px;
    top: 20px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 3px;
}
.promo:before{
    border: 4px solid transparent;
    border-bottom: 4px solid #ee4339;
    border-left: 4px solid #ee4339;
    content: "";
    position: absolute;
    right: 1px;
    top: -8px;
}

.caption >h4{
    color: #530030;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
    text-align: left;
    padding-left: 10px;
}
.caption >.desc{
  text-align: center;
}

.btn-order{
    width: 100%;
    padding: 10px;
    font-size: 14px !important;
    color: #fff;
    background-color: #530030  !important;
    text-decoration: none;
    font-weight: lighter;
    text-shadow: 2px 2px #333;
}
.btn-order:hover, .btn-order:focus{
    color: #fff;
    background-color: #380021 !important;
}
.price{
text-align: center;
}
.ancienprix{
    text-decoration: line-through;
    text-align: center;
    opacity: .7;
}
.nouveauprix{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
#headerprez{
    color: white;
    margin-top: 80px;
    margin-bottom: 100px;
    text-align: justify;
    padding-left: 20%;
    padding-right: 20%;
}
#hpromo{
    color: white;
    padding-left: 50px;
    font-weight: bold;
    padding-top: 0px;
}
#hpromop{
    color: white;
    padding-left: 40px;
    padding-bottom: 60px;
}
.flexbtn{
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
  padding-bottom: 10px;
}

#panier{
  width: 60%;
}
#produi{
  width: 30%;
}

#Nouveautes{
  padding-bottom: 80px;
  animation: fadeInNouveautes 2s;
}
#Promotions{
  animation: fadeInPromotions 2s;
}


@keyframes fadeInNouveautes{
    from{opacity:0}
    to{opacity:1}
}
@keyframes fadeInPromotions{
  from{opacity:0}
  to{opacity:1}
}
.loader-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #560031;
  z-index: 9999;
  transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  border: 16px solid #fd5c3f;
  border-radius: 50%;
  border-top: 16px solid #ffdbc5;
  box-shadow: 0 0 8px 2px #2e112d;
  animation: loader 1s linear infinite;
}
@keyframes loader{
  0%{
    transform: translate(-50%, -50%) 
    rotate(0deg) scale(1, 1);
  }
  50%{
    transform: translate(-50%, -50%) 
    rotate(180deg) scale(1.1, 1.1);
  }
  100%{
    transform: translate(-50%, -50%) 
    rotate(360deg) scale(1, 1);
  
  }
}
.cirload{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;

  border-bottom: 4px dashed #fe7f4a;
  border-radius: 50%;
  border-top: 4px dashed #fe7f4a;

  animation: loader2 3s linear infinite;
}
@keyframes loader2{
  0%{
    transform: translate(-50%, -50%) 
    rotate(360deg);
  }
  50%{
    transform: translate(-50%, -50%) 
    rotate(180deg);
  }
  100%{
    transform: translate(-50%, -50%) 
    rotate(0deg);
  }
}
.loader-container.loaded{
  opacity: 0;
  visibility: hidden;
}



.logoLoad{
  animation: logoLoadAnim 1s linear infinite;
  color: #ffdbc5;
  position: absolute;


  font-size: 60px !important;
  text-align: center;
  vertical-align: middle;
  top: 50%;
  left: 50%;
}
@keyframes logoLoadAnim{
  0%{transform: scale(1, 1) translate(-50%, -50%);}
  100%{transform: scale(1, 1) translate(-50%, -50%);}
}

.overthetop{
  font-size: 25px;
  font-style: italic;
}