/*PAGE CONTACT*/
.maSuperbeAnimation {
    border : 4px solid rgb(219, 215, 215) ;
    border-radius: 15px;
    background-color: #ffffff3d;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    margin-bottom: 100px;
    color: white;
    font-size: x-large;
}
#buttonposition{
    position: relative;
    margin-left: auto;
    margin-right: auto;
} 
.btnvalide { 
    padding: 0 16px;
    height: 36px;
    min-width: 64px;
    background: 0 0;
    font-size: x-large;
    border: 3px solid rgb(255, 255, 255);
    outline: none;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    transition: background 0.3s;
    border-radius: 5px;
    margin-bottom: 5px;
    
}
.primary {
    background-color:  #fd5c3e;
    color: #fff;
}
.btnvalide:hover {
    background: #cb2c40;
    transition: background 0.3s;
}
.btnvalide .ripple-animation {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
}
@keyframes ripple {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}
.btnvalide:focus {
    border: 3px solid rgb(60, 255, 0); 
}
#exampleFormControlTextarea1:focus {
    border: 5px solid  rgb(60, 255, 0) !important;
}
#exampleInputEmail1:focus{
    border: 5px solid rgb(60, 255, 0) !important;
}
.maSuperbeAnimation {
    opacity: 1;
    animation: monSuperbeFadeIn 2s;
}
@keyframes monSuperbeFadeIn {
    0% {
        opacity: 0;
    }
}

#ancre{
    height: 100px;

}
.merci{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
    padding-bottom: 40px;
}
.error_style{
    font-size: 16px;
    color: black;
    content: " ";
    font-style: italic;
}