/*PAGE EQUIPE*/
.boiteequipe{ 
    border:3px solid #ff6c40 ;
    border-radius: 15px;
    background-color:#FFDBC5; 
    margin-top: 150px;
    margin-bottom: 160px;
}
.equipe {
    font-size: 20px;
    color: rgb(61, 61, 61);
    text-align: center;
    margin-bottom: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 80px;
    padding-left: 80px;
}
.imgpersonne{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 3px solid #ff6c40;
    margin-left: 50px;
    margin-bottom: 40px;
}
.description {
    font-size:20px;
    border : 3px solid #ff6c40 ;
    border-radius: 15px;
    background-color:#FFDBC5;  
    border-width: 4px;
    margin-bottom: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
} 
.fadeInPave {
    animation: fadeIn 6s;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100%{opacity: 1;}
}
