
/*Page produits*/
#produits{
    margin-left: 30px;
    margin-right: 30px;
}

.accordion-button{
    background-color: #ffdbc5;
    color:#530030 ;
    border: 1px solid #ff6c40 !important;
    
}

#col1{
    background-color: #7e0434;
    border: 1px solid white !important;
}

#col2{
    background-color: #c8293f;
    border: 1px solid white !important;
}

#col3{
    background-color: #ef443c;
    border: 1px solid white !important;
}

#col4{
    background-color: #fe7f4a;
    border: 1px solid white !important;
}



th{
    color: #E5EAFA;
}


#imageProduit {
    cursor: pointer;
    background-color: rgba(117, 14, 14, 0.945) !important;
    border-radius: 50% !important;
    border: 3px solid #ff6c40!important;
}

#lightbox{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}


#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox > img {
    max-width: 80%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
}

.card{
    background-color: rgba(0, 0, 0, 0)!important;
    border: none!important;
}

.card-title{
    color: white !important;
}


