body{ 
    font-family: 'Comfortaa', 'Roboto', sans-serif;
    background-color: #2e112d;
}

.Depart{
    background: url(../Images/test.jpg) no-repeat center;
    background-size: cover;
    left: 0;
    right: 0;
}

h1{
    color: white;
    font-size: 400%;
    padding-top: 20%;
    padding-bottom: 20%;
    font-style: 'Courier New' !important;
    text-align: center;
    justify-content: center;
}

/*Logo du site*/
#logo {

    font-family: 'Pacifico';
    font-style: italic ;
    margin-left: 10px;
}


/*navbar*/

.espaceTop{
    height: 10px;
    
}

.navbar-collapse{
    text-align: center;
}

.navbar{
    background-color: #ffdbc5;
    padding-top: 5px !important;
    height:10% ;
}


.navbar-brand{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Pacifico';
    font-style: italic ;
    color:rgb(51, 4, 51) !important;
}

.navbar-text{
color:rgb(51, 4, 51) !important;
font-size: 80%;
font-weight: bold;
}

#logoNav{
    font-size: 45px;

}
.nav-item{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 3px;
    padding-left: 60px;
}

.nav-link{
    color: red;
}

.navbar-nav{
    margin-left: 80px;
}

nav .navbar-nav li a{
    color: rgb(51, 4, 51) !important;
}

.navbar-nav > .active > a {
    text-decoration: underline !important;
    text-decoration-thickness: 3px !important;
  }
  .nav-item > a:hover {
    color: rgb(173, 7, 173) !important;
  }

#navbar-text{
    color: rgb(51, 4, 51) !important;
}

.navbar-collapse{
    text-align: center;
    background-color: #ffdbc585;
}
/* Caption text */
* {box-sizing:border-box}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade {
  animation-name: fade;
  animation-duration: 8s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*footer*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.instagram:hover
{
  background-color:#bc2a8d  
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*Page remerciement mail*/

.end_message{
  font-size: 200%;
  color:khaki;
  margin-top: 20%;
  margin-bottom: 15%;
  display: flex;
  justify-content: center;
}

.end_screen{
  background-image: url(../Ressources/Images/test.jpg);
}